@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

.sect{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #d4d4d4;
    justify-content: center;
    width: 100vw;
}

.sect-result{
    display: flex;
    background: #d4d4d4;
    justify-content: center;
    align-items: middle;
    width: 100vw;
    padding-top:10vh;
    padding-bottom:10vh;
    text-align:center;
}

.start{
    text-align: center;
}

.start h1{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.start button{
    border: 0px;
    background: none;
    font-size: 35px;
    text-decoration: underline;
}

.start img{
    max-width: 100%;
    height: auto;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.start_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrows{
    font-size: 50px;
    border: 0px;
    background: none;
}

.game {
    display:none;
}

.game img{
    height: 250px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.game h1{
    font-family: 'Lobster', cursive;
    font-size: 90px;
    transform: translate(0%, -150%);
    text-align: center;
}

.flag_container{
    width:550px;
    text-align: center;
}

.input_container{
    margin-top: 30px;
    display: flex;
    justify-content:center;
}

.input_container input {
    width: 400px;
    height: 50px;
    font-size: 30px;
    padding-left: 5px;
    text-align: center;
}

.data{
    transform: translate(0%, -150%);
    font-size: 35px;
    display:table;
}

.data button{
    border: 2px solid black;
    background: #db6b63;
    width:50px;
    border-radius:20%;
}

.data td{
    display: table-cell;
    width: 211px;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    vertical-align: middle;
    height: 50px;
}

.results {
    display: none;
    justify-content: center;
}

.results h1{
    font-family: 'Lobster', cursive;
    font-size: 70px;
}

.results img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.results table{
    margin-top: 20px;
    font-size:25px;
}

.score{
    font-size: 40px;
}

.results td {
    width:250px;
}

.results td img {
    max-height: 120px;
}

.result_container {
    display:flex;
    justify-elements: center;

}

.result_container table {
    width:100%;
}

.result_container button {
    border: 0px;
    background: none;
    font-size: 30px;
    text-decoration: underline;
}